.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  .fade-in {
    opacity: 0;
    transition: opacity 5s ease-in-out;
  }
  
  .fade-in.active {
    opacity: 0.5;
  }
  